body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E8F5E9;
    color: #121712;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

header {
    padding: 10px;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}



::-webkit-scrollbar {
  display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.tagline {
    font-size: 14px;
    color: #616161;
    margin-top: 5px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    overflow-y: auto;
    padding-bottom: 50px; /* Отступ для навигационной панели */
}

.content {
    text-align: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
}

.test-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    
}

.test-card {
    margin-bottom: 50px;
    background-color: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

.test-info {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 60%;
}

.test-info button{
    background-color: #F0F5F0;
    color: #121712;
    padding: 10px 20px;
    margin: 0;
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    
}

.test-info button:hover{
    background-color: #638766;
    color: #fff;
}

.test-card span {
    font-weight: normal;
    margin: 0;
    color: #638766;
    font-size: 14px;
}

.test-theme {
    margin: 0;
    font-size: 18px;
    color: #121712;
    font-weight: 1000;
}

.test-image {
    width: 120px;
    height: 120px;
    margin-left: 15px;
    object-fit: cover;
    border-radius: 8px;
}

.button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px; /* Отступ сверху для кнопки */
    align-self: flex-end;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2E7D32;
}

footer.nav-bar {
    padding: 10px;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.nav-item {
    background: none;
    border: none;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 25%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .3s;
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    fill: #000;
}

.nav-item:hover, .nav-item.active {
    color: #4CAF50;
}

.nav-item:hover .nav-icon {
    fill: #4CAF50;
    transition: .3s;
}
